.color-swatches {
    display: flex;
    /* stays at the top when scrolling */
    position: sticky;
    top: 0;
    z-index: 99;
    padding: auto;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.114);
}

.color-swatch {
    width: 60px;
    height: 60px;
    /* border-radius: 50%; */
    cursor: pointer;

}