.header-container {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0;
    height: fit-content;
    background-color: #ffbb00;
    border-bottom: 1px solid #e6e6e6;
}

.header-logo {
    display: flex;
    justify-content: left;
    align-items: bottom;
    font-size: 1.5rem;
    font-weight: 700;
    height: 100px;
}

h1 {
    margin: 0;

}